---
import SlideLayout from '../layouts/SlideLayout.astro';
import { loadSlideMarkdown } from '../lib/markdown';

const html = await loadSlideMarkdown('03_intro-environment.md');
---

<SlideLayout slideId={3}>
  <div class="slide-page slide-md-page">
    <div class="md-content" set:html={html} />
  </div>
</SlideLayout>
