---
import SlideLayout from '../layouts/SlideLayout.astro';
import ClosingContent from '../content/slides/08_closing.md';
---

<SlideLayout slideId={8}>
  <div class="slide-page slide-md-page">
    <div class="md-content">
      <ClosingContent />
    </div>
  </div>
</SlideLayout>
